/* || general styles */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Faster One', cursive;
}


/* section styles */

section {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

section h1 {
  font-size: 2rem;
  text-align: center;
  
}

section p {
  margin: 5px 0;
  text-align: center;
}
